/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}
  
/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
}

.panel-title {
    margin: 2em;
    text-decoration: underline;
}

.panel-desc {
    border: solid 0.1em #ccc;
    min-height: 5em;
    text-align: left;
    padding: 01em;
}

.panel-tiles {
    padding: 2em;
    min-height: 5em;
}

.tile-left {
    width: 30%;
    border: solid 0.2em #ccc;
    float: left;
}

.big-tile {
    width: 65%;
    float: right;
}

.tile-right {
    width: 25%;
    border: solid 0.2em #ccc;
    float: right;
}

.big-tile-left {
    border: solid 0.2em #ccc;
    width: 45%;
    float: left;
}

.big-tile-right {
    width: 45%;
    border: solid 0.2em #ccc;
    float: right;
}

.panel-url{
    margin-bottom: 2em;
}